
<link rel="stylesheet" href="/css/mypage_order.css">
<link rel="stylesheet" href="/comm/toastr/toastr.css">
<section class="distribute">
    <div>订单和运输查询</div>
    <div class="information">
        <div class="order_list">
            <div class="selectBox">
                <select name="select" id="mySelect">
                    <option value="0">订单状态（全部）</option>
                    <option value="1">待发货</option>
                    <option value="2">已发货</option>
                    <option value="3">运输中</option>
                    <option value="4">已收货</option>
                </select>
                <i class="fa fa-angle-down">
                </i>
            </div>
        </div>
        <div class="order_time">
            <ul class="order_ul">
                <li id="li_one"><a href="javascript:void(0)">1周</a></li>
                <li><a href="javascript:void(0)">1个月</a></li>
                <li><a href="javascript:void(0)">3个月</a></li>
                <li><a href="javascript:void(0)">6个月</a></li>
                <li><a href="javascript:void(0)">12个月</a></li>
            </ul>
        </div>
        <div class="date_input">
            <div class="date_pic">
                <input id="date1" class="inputOne" value="" type="date" placeholder="">
            </div>
            <div class="date_shoot">
                <img src="/img/imgMyPage/ico_dfk2.png" alt="">
            </div>
            <div class="date_pic distance_date">
                <input id="date2" class="inputOne" type="date" placeholder="" value="">
            </div>
            <div class="expore_btn">
                <button type="button" id="check">查询</button>
            </div>
        </div>
    </div>
</section>
<section class="transportation">
    <div>
        <div></div>
    </div>
</section>

<section class="banner">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>订单号</th>
                <th>订购日期</th>
                <th class="products">物品</th>
                <th>数量</th>
                <th class="totalPay" >总付</th>
                <th>运输状态</th>
            </tr>
            </thead>
            <tbody class="myTbody">
            <%if(data.length>0){%>
            <%for(var i = 0 ; i < data.length;i++){%>
            <tr>
                <td ><%=data[i].order_id%></td>
                <td><%=data[i].pay_time%></td>
                <td class="td_products">
                    <div><a href="/shop/shopshow?productId=<%=data[i].product_id%>"><img src="/<%=data[i].pic_path%>" alt=""></a></div>
                    <div>
                        <div class="product_name"><%=data[i].product_name%></div>
                        <div class="color_name">
                            <div style="background-color: <%=data[i].color_value%>">

                            </div>
                            <span><%=data[i].color_name%></span>
                        </div>
                    </div>
                </td>
                <td><%=data[i].quantity%></td>
                <td >$<span class="money2"><%=(data[i].quantity*data[i].price+data[i].fare)%></span></td>
                <td><%=data[i].STATUS%></td>
            </tr>
            <%}%>
            <%}%>

            </tbody>
        </table>
        <div class="selectPage">
            <button class="preBtn">上一页</button>
            <button class="nextBtn">下一页</button>
        </div>
        <h2 class="haveOrder">没有查询到订单</h2>
    </div>
</section>

<script src="/comm/jquery/jquery-3.2.1.js">
</script>
<script src="/comm/toastr/toastr.js"></script>
<script>
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "positionClass": "toast-top-right",
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
</script>
<script src="/js/mypage_order.js"></script>
