



<link rel="stylesheet" href="/css/mypage_check.css">
<link rel="stylesheet" href="/comm/toastr/toastr.css">
<link rel="stylesheet" href="/comm/bootstrap-3.3.7-dist/css/bootstrap.min.css/">

<div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">确认支付</h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <div class="sureMoney" style="font-size: 20px;font-weight: bold"><span>需支付 $</span><span id="suremoeny">0</span></div>
                <div class="twoCode"><img src="/img/cheeck/twocode.jpg" width="40%"></div>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 20%">取消</button>
                <button type="button" class="btn btn-primary" id="surePay" style="background-color: #0f0f0f;width: 20%">确认支付</button>
            </div>
        </div>
    </div>
</div>

<section class="section1">
    <div>
        <ol>
            <li>
                <h3 class="but1">
                    <span>1</span>
                    <span>订购商品（<span class="total_product"></span>）</span>
                    <i class="fa fa-angle-down fa-lg downShoot" style="display: none"></i>
                    <i class="fa fa-angle-up fa-lg upShoot" style="display: inline;"></i>
                </h3>
                <div class="table_container" style="display: block">
                    <table>
                        <thead class="thead1">
                        <tr>
                            <th>产品名称</th>
                            <th>数量</th>
                            <th>单价</th>
                            <th>总计</th>
                        </tr>
                        </thead>
                        <tbody class="tbody1" user-id="<%=data[0][0].user_id%>">
                        <%for(var i=0;i<data[0].length;i++){%>
                            <tr check-id="<%=data[0][i].check_id%>" class="mytr" color-id="<%=data[0][i].color_id%>" product-id="<%=data[0][i].product_id%>">
                                <td>
                                    <div class="imgBox">
                                        <img src="<%=data[0][i].check_img%>" alt="">
                                    </div>
                                    <div class="colorBox">
                                        <span><%=data[0][i].check_name%></span>
                                        <span class="color" style="background-color: <%=data[0][i].check_color_value%>"></span>
                                        <span class="mycolorId" style="float: left;padding-left: 30px;padding-top: 43px"><%=data[0][i].check_color_name%></span>
                                    </div>
                                </td>
                                <td><span class="myQuantity"><%=data[0][i].check_num%></span></td>
                                <td><span>$</span><span><%=data[0][i].check_price%></span></td>
                                <td>
                                    <span>$</span><span class="money"><%=data[0][i].check_price*data[0][i].check_num%></span>
                                </td>
                            </tr>
                        <%}%>
                        </tbody>
                    </table>
                </div>
            </li>
            <li class="freight">
                <h3 class="but2">
                    <span>2</span>
                    <span>运输信息</span>
                    <i class="fa fa-angle-down fa-lg yunFei_down" style="display: none"></i>
                    <i class="fa fa-angle-up fa-lg yunFei_up" style="display: inline"></i>
                </h3>
                <div class="Account" style="display: block">
                    <h3>送货信息</h3>
                    <div id="address" data-toggle="distpicker">
                        <select data-province="---- 选择省 ----"></select>
                        <i class="icons fa fa-angle-down"></i>
                        <div class="selectTwo">
                            <div >
                                <select data-city="---- 选择市 ----"></select>
                                <i class="icons2 fa fa-angle-down"></i>
                            </div>
                            <div>
                                <select data-district="---- 选择区 ----"></select>
                                <i class="icons2 fa fa-angle-down"></i>
                            </div>
                        </div>
                    </div>
                    <div class="details_address">
                        <span class="myHint" style="color: red">详细地址不能为空</span>
                        <input type="text" name="address" placeholder="详细地址">
                    </div>
                    <div class="email">
                        <span class="myHint" style="color: red">请输入正确的邮箱地址</span>
                        <input type="text" name="email" placeholder="邮件">
                    </div>
                    <div class="user_name">
                        <span class="myHint" style="color: red">收件人不能为空</span>
                        <input type="text" name="userName" placeholder="收件人">
                    </div>
                    <div class="user_tell">
                        <span class="myHint" style="color: red">请输入正确的电话号码</span>
                        <input type="text" name="userTell" placeholder="电话">
                    </div>
                    <div class="saveAddress">
                        <div class="save_pic" id="saveAddr" data-select="false">
                        </div>
                        <span>保存为默认地址</span>
                    </div>
                    <div class="agreement">
                        <p>
                            同意收集和使用个人信息:
                        </p>
                        <ul class="agree_text">
                            <li>所需信息：姓名，地址，邮政编码，国家，电话号码，电子邮件地址</li>
                            <li>收集和使用个人信息的目的：为
                                方便起见，请注册默认送货地址，并发送有关购买信息的电子邮件以方便您使用</li>
                            <li>保留和使用期限：在撤回/终止会员资格之前</li>
                        </ul>
                        <div class="agree">
                            <div class="agree_pic" data-agree="false" id="necessary">
                            </div>
                            <span>是的我同意。（必要）</span>
                            <span class="myHint" style="color: red">此项为必选</span>
                        </div>
                    </div>
                    <h3>交货物流</h3>
                    <div class="delivery">
                        <% for(var i = 0 ; i< data[1].length ; i++){%>
                            <div class="delivery_select" data-choose="true">
                                <div>
                                    <div class="delivery_logo"></div>
                                </div>
                                <div class="delivery_text">
                                    <div class="delivery__span">
                                        <span><%=data[1][i].trans_name%></span>
                                        <span class="yunFei"><%=data[1][i].fare%></span>
                                        <span>$</span>
                                        <!--<span>2-4天</span>-->
                                    </div>
                                    <div>
                                        <%=data[1][i].trans_desc%>
                                    </div>
                                </div>
                            </div>
                        <%}%>

                    </div>
                </div>
            </li>
            <li class="discout-li">
                <h3 class="but3">
                    <span>3</span>
                    <span>优惠</span>
                    <i class="fa fa-angle-down fa-lg onsale_down"></i>
                    <i class="fa fa-angle-up fa-lg onsale_up"></i>
                </h3>
                <div class="discount-div">
                    <input type="text" name="discout" placeholder="请输入优惠码">
                    <button type="button">申请优惠</button>
                </div>
            </li>
            <li class="discout-li">
                <h3 class="but4">
                    <span>4</span>
                    <span>支付方式</span>
                    <i class="fa fa-angle-down fa-lg pay_down"></i>
                    <i class="fa fa-angle-up fa-lg pay_up"></i>
                </h3>
                <div class="pay-div">
                    <%for(var j = 0 ; j < data[2].length ; j++){%>
                        <div class="payContainer">
                            <div class="pay_choose" data-false="false" data-id="<%=data[2][j].pay_id%>">
                            </div>
                            <img class="pay-Pic" src="<%=data[2][j].pay_logoPath%>"  alt="">
                            <span class="pay_name">
                            <%=data[2][j].pay_name%>
                        </span>
                            <span class="pay_desc">
                            <%=data[2][j].pay_desc%>
                        </span>
                        </div>
                    <%}%>
                </div>
            </li>
        </ol>
    </div>
</section>

<div class="pay">
    <diV class="pay_list">
        <ul>
            <li>
                <span>商品总价</span>
                <span class="payAllMoney">10.86</span>
                <span>$</span>
            </li>
            <li>
                <span>折扣</span>
                <span class="discount">9</span>
            </li>
            <li>
                <span>运费</span>
                <span class="total_yunFei">0</span>
                <span>$</span>
            </li>
        </ul>
        <div class="pay_p">
            <p>
                <span>总计</span>
                <span class="total">1.0</span>
                <span>$</span>
            </p>
            <p>
                If you purchase more than $20, shipping is free.
            </p>
        </div>
    </diV>

    <button id="mypay" data-target="" data-toggle="modal">支付</button>
</div>



<script src="/comm/jquery/jquery-3.2.1.js"></script>
<script src="/comm/toastr/toastr.js"></script>
<script src="/comm/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="/comm/address/distpicker.data.js"></script>
<script src="/comm/address/distpicker.js"></script>
<script>
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "positionClass": "toast-top-right",
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
</script>
<script src="/js/mypage_check.js"></script>

